<div class="search_page">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 username">
      <p>Welcome: <span>Srinivas</span></p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      
    </div>
    </div>
    <div class="row">
      <div class="search-cnt row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="serach-car">
            <h3>Your web page address</h3>
            <form>
              <div class="search-btn">
              <!-- <label>Search Vehicle Type </label>  -->
                <input #id type="text" placeholder="Search vehicle type">
                <button (click)="search(id.value)">Search</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="about-carbon">
        <h3>Did you know that the internet has a carbon footprint?</h3>
        <p>It’s true. Every video, app and social post that you interact with adds to it—even web pages like this one. In fact, the average website produces 1.76 grams of CO2 per page view.* Meaning a site that gets just 100,000 monthly page views generates a whopping 2,110 kg of CO2 per year—the same amount produced by 87 barbecue tanks.†</p>
        <p>That’s why we created this web experience: to educate Canadians about sustainability in the digital world. By reducing our electric vehicle web pages to little more than black and white text—even the images—we’ve significantly lowered the amount of data embedded in them. Meaning it now takes less energy to transfer that data over the internet, effectively lowering the digital carbon footprint of these pages. Now you can read all of our sustainability-focussed content the way it was meant to be read: in the most carbon-efficient way possible.</p>
      </div>
    </div>
    <hr>
    <div class="row innovation-dev">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="future-cnt">
          <h3>The future is electric</h3>
          <p>Innovation has always been our driving force. That’s why we’re transforming into a leader in sustainable mobility with cutting-edge technology, driver-first design and German engineering—electrified!</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="future-cnt">
          <h3>E-mobility</h3>
          <p>We’re building e-mobility for all with our ID. family. See how we apply a holistic concept and commit to the goals of the Paris Climate Agreement.</p>
        </div>
      </div>
    </div>
  </div>