/* Global Styles */


* {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #264D73;
  font-size: 2.5rem;
}
h2, h3 {
  color: #444;
  font-weight: lighter;
}
h3 {
  font-size: 1.3rem;
}
body {
  margin: auto !important;
}
@media (min-width: 600px) {
}
body, input[text] {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
a {
  cursor: pointer;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color:  #42545C;
}
nav a.active {
  background-color: black;
  color: white;
}
hr {
  margin: 1.5rem 0;
}
input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem;
}

.car_image img{
  width: 100%;
  border: 4px solid black;
}
.standardpage,.testrow,.order-nav{
  margin: 0px;
}
.test-btn{
  text-align: center;
  margin-top: 20px;
}
.test-btn button{
  background: #627593;
  color: white;
  margin-bottom: 20px;
}
.order-nav{
  background-color: #455e83;
}
.standardtit h3{
  color: white;
  font-size: 17px;
  float: right;
  padding: 20px 1px;
}
.greenModeLink{
  padding: 20px 1px;
}
.greenModeLink a{
  float: right;
  color: white;
  text-decoration: none;
  font-size: 15px;
  background: black;
  padding: 4px 15px;
}
.user-tit p{
  color: white;
}
.cardetails{
  background: aliceblue;
  margin: 0px;
}
.left-side{
  padding-top: 50px;
}
.left-side p{
  border: 1px solid black;
  padding: 7px;
  background: darkgray;
}
.search-btn input{
  width: 52%;
  margin-bottom: 15px;
}
input[type="number" i] {
  padding: 8px;
}
.car_image{
  padding-top: 48px;
}
.search-btn button{
  background: black;
  color: white;
}